body {
    background-color: red;
    font-family: Helvetica;
}

header {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: #800;
    padding: 20px 40px;
}
