body {
    background-color: #800;
    font-family: Helvetica;
}

header {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: #5d2f27;
    padding: 20px 40px;
}

ul li {
    display: flex;
    list-style: none;
    margin: 0 15px;
}

nav a:hover {
    background-color: #a24857;
}

footer {
    font-size: 12px;
}
